:root {
    --nw-width: 600px;
    --radius: 15px;
}

* {
    box-sizing: border-box;
}

a {
    color: #C8C8C8;
    display: flex;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

body {
    align-items: center;
    background: #646464;
    color: #C8C8C8;
    display: flex;
    font-family: helvetica;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    content: url(../assets/logo_03.png);
    float: right;
    width: 100px;
}

.nw {
    background: #7D7D7D;
    border-radius: var(--radius);
    box-shadow: 0 15px 30px -15px black;
    padding: 2rem;
    width: var(--nw-width);
}

.nw h1 {
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: auto;
}