:root {
    --background: rgba(0, 0, 0, 0.1);
    --color01: #FFF;
    --color02: #C8C8C8;
    --color03: #7D7D7D;
    --color04: #000;
    --color05: #64E164;
    --radius: 15px;
    --transition: 0.5s;
    --width: 600px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color02);
    display: flex;
    text-decoration: none;
}

a:hover {
    color: var(--color01);
}

body {
    align-items: center;
    background-image: url("../assets/background.png");
    background-size: 1920px;
    color: var(--color02);
    display: flex;
    font-family: helvetica;
    justify-content: center;
    min-height: 100vh;
}

.completed-title {
    font-size: 20px;
    margin-top: 30px;
}

.completed-todos .todo-item {
    background-color: var(--color05);
    text-decoration: line-through;
}

.logo {
    border-radius: 5px;
    content: url(../assets/logo_03.png);
    float: right;
    padding: 5px;
    transition: var(--transition);
    width: 100px;
}

.logo-button {
    display: block;
}

.logo:hover {
    background-color: var(--color03);
}

.nw {
    background-color: var(--background);
    border-radius: var(--radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    padding: 2rem;
    width: var(--width);
}

.nw form > * {
    margin-bottom: 1rem;
}

.nw form button {
    background-color: var(--background);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 45px;
    transition: var(--transition);
}

.nw form button:hover {
    background-color: var(--color03);
}

.nw form .form-checkbox-item {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.nw .form-element {
    background-color: var(--background);
    border: none;
    border-radius: var(--radius);
    color: var(--color01);
    font-size: 20px;
    padding: 1rem 1.5rem;
    width: 100%;
}

.nw .gitHub {
    font-size: 25px;
}

.nw input[type=checkbox] {
    accent-color: var(--color05);
    height: 20px;
    width: 20px;
}

.nw h1 {
    margin-bottom: 2rem;
    margin-top: auto;
}

.todo-input {
    background-color: var(--background);
    border: none;
    border-radius: var(--radius);
    color: var(--color01);
    font-size: 20px;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    width: 100%;
}

.todo-item {
    background-color: var(--color02);
    border-radius: var(--radius);
    color: var(--color04);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.todo-item a {
    color: var(--color04);
}

.todo-item span {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.todos,
.completed-todos,
.uncompleted-todos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
